services:

    # backend для внешних ресурсов    
    backend:
        build: 
            context: ./php
            dockerfile: Dockerfile
            args:
                UID: '${UID}'
                GID: '${GID}'
        container_name: assignment_backend_0825
        ports:
            - "80:80"
        volumes:
            - ../www:/var/www/html
            - ./logs:/var/log/apache2
            - ./logs:/app/storage/logs
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        networks:
            - default

    # db mysql
    db:
        image: mysql:5.7.44
        container_name: assignment_backend_0825_db
        ports: 
            - "3306:3306"
        command: [
            "--sql_mode=",
            "--default-authentication-plugin=mysql_native_password",
            "--character-set-server=utf8mb4",
            "--collation-server=utf8mb4_unicode_ci"
            ]
        environment:
            MYSQL_ROOT_PASSWORD: password
            MYSQL_ROOT_HOST: '%'
            MYSQL_DATABASE: assignment_backend_0825
            MYSQL_USER: user
            MYSQL_PASSWORD: password
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
            MYSQL_CHARSET: utf8mb4
            MYSQL_COLLATION: utf8mb4_unicode_ci
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-p$$MYSQL_ROOT_PASSWORD"]
            interval: 5s
            timeout: 5s
            retries: 10
        volumes:
            - persistent_0825:/var/lib/mysql
        networks:
            - default

    # phpmyadmin
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: assignment_backend_0825_phpmyadmin
        links: 
            - db:db
        ports:
            - 8080:80
        environment:
            MYSQL_USER: user
            MYSQL_PASSWORD: password
            MYSQL_ROOT_PASSWORD: password 
volumes:
    persistent_0825:
        driver: local
